body {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
}

.main-ctr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-style: normal;color: palevioletred;
    font-size: 20px;
}
.ctr {
    width: 30%; 
    margin: 10px;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

.add-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1px;
    border: 1px solid #ccc;
    align-self: baseline;
}

.button {
    margin-bottom: 10px;
    
}

button{
    background-color: palevioletred;
    margin-left: 10px;
    border-color: white;
    padding: 5px;
    border-radius: 4px;

}

.text {
    text-align: start ;
}

P{
    margin: 5px 0;
    padding: 10px;
}

@media (max-width:768px)  {
   .main-ctr{
       flex-direction: column;
       width: 100%;
      
   }
    .ctr {
       width: 100%;
       margin-bottom: 10px;

    }
   }
    
 